html {
  font-size: 62.5%;
}

*,
*:before,
*:after {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

a {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
  object-fit: cover;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: #161616;
  color: #fff;
  line-height: 1.2;
  font-weight: 300;
}

.wrapper {
  max-width: 1440px;
  margin: 0 auto;
}

.container {
  margin: 0 auto;
  max-width: 1610px;
  padding-left: 2rem;
  padding-right: 2rem;
}

.header {
  position: fixed;
  padding-top: 3rem;
  z-index: 1000;
  background-color: #161616;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2rem 9%;
}
.header__inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: nowrap;
  flex-direction: row;
}
.header__menu {
  margin-left: 10rem;
}
.header__menu-list {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: nowrap;
  flex-direction: row;
}
.header__menu-item {
  margin-left: 5rem;
}
.header__menu-item:last-child {
  margin-left: 7rem;
}
.header__menu-link {
  font-size: 1.7rem;
  color: #fff;
  transition: color 0.25s linear, border 0.25s linear;
}
.header__menu-link:hover {
  color: #ffc87a;
}
.header .icons {
  margin-left: 16rem;
}
.header .icons div {
  font-size: 2.5rem;
  margin-left: 1.7rem;
  cursor: pointer;
  color: #fff;
}
.header .icons div:hover {
  color: #ffc87a;
}
.header .search-form {
  position: absolute;
  top: -115%;
  right: 2rem;
  width: 50rem;
  border-radius: 1rem;
  display: flex;
  align-items: center;
  height: 5rem;
  background-color: #1a1a1a;
}
.header .search-form.active {
  top: 115%;
}
.header .search-form input {
  border-radius: 1rem;
  height: 100%;
  width: 100%;
  padding: 0 1.2rem;
  font-size: 1.6rem;
  color: #fff;
  text-transform: none;
  background-color: #1a1a1a;
}
.header .search-form label {
  font-size: 2.4rem;
  margin-right: 1rem;
  margin-left: 1rem;
  cursor: pointer;
  color: #fff;
}
.header .search-form label:hover {
  color: #ffc87a;
}
.header .shopping-card {
  position: absolute;
  top: 115%;
  right: -105%;
  background: #1a1a1a;
  border-radius: 0.5rem;
  width: 35rem;
  padding: 2rem;
}
.header .shopping-card.active {
  right: 2rem;
  transition: 0.4s linear;
}
.header .shopping-card .box {
  display: flex;
  align-items: center;
  gap: 1.5;
  margin-bottom: 1.5rem;
  position: relative;
}
.header .shopping-card .box .fa-times {
  opacity: 80%;
  position: absolute;
  top: 50%;
  right: 2rem;
  transform: translateY(-50%);
  font-size: 2rem;
  color: #fff;
  cursor: pointer;
}
.header .shopping-card .box .fa-times:hover {
  color: #ffc87a;
}
.header .shopping-card .box img {
  height: 10rem;
  width: 10rem;
  border-radius: 0.5rem;
}
.header .shopping-card .box .content {
  margin-left: 2rem;
}
.header .shopping-card .box .content h3 {
  font-size: 1.7rem;
  padding-bottom: 0.5rem;
  color: #ffc87a;
  font-weight: bold;
}
.header .shopping-card .box .content span {
  opacity: 75%;
  font-size: 1.4rem;
  color: #fff;
}
.header .shopping-card .box .content span.multiply {
  margin: 0 0.5rem;
}
.header .shopping-card .total {
  opacity: 90%;
  color: #fff;
  text-align: center;
  font-size: 2.2rem;
}
.header .shopping-card .total span {
  color: #fff;
}
.header .shopping-card .btn--rounded {
  margin-top: 1rem;
  text-align: center;
  width: 100%;
}

.logo {
  font-size: 2.4rem;
  font-weight: 600;
  color: #fff;
}
.logo__text {
  color: #ffc87a;
}

#menu-btn {
  display: none;
}

.banner {
  padding-top: 10rem;
  margin: 0 auto;
}

.btn {
  cursor: pointer;
  outline: none;
  font-size: 1.6rem;
  text-align: center;
  color: #fff;
  padding: 1.5rem 3rem;
  display: inline-block;
  border: 0;
  background-color: transparent;
}
.btn--border {
  border: 1px solid currentColor;
}
.btn--rounded {
  border-radius: 5rem;
}
.btn--primary {
  background-color: #ffc87a;
}
.btn--primary.has-shadow {
  box-shadow: 0 10px 35px -5px #ffc87a;
}

.sale {
  display: flex;
  margin-bottom: 4rem;
}
.sale .card {
  max-width: 720px;
  height: 180px;
  margin: 0rem auto;
  background-color: #1a1a1a;
  border-radius: 2rem;
  display: flex;
  overflow: hidden;
}
.sale .card .card-imgage {
  width: 28%;
  height: 100%;
  object-fit: cover;
}
.sale .card .sale-user-right {
  width: 30%;
  padding: 2rem;
}
.sale .card .sale-user-left {
  width: 42%;
  padding-left: 2rem;
  padding-top: 2rem;
}
.sale .card .sale-user-name {
  color: #fff;
  font-size: 1.9rem;
  font-weight: 600px;
  margin-top: 1.8rem;
  margin-bottom: 2.5rem;
}
.sale .card .sale-user-detail {
  font-size: 1.3rem;
  line-height: 1.4;
  opacity: 40%;
}
.sale .card .sale-user-after {
  color: #fff;
  font-size: 2.4rem;
  font-weight: 600px;
  margin-top: 1.8rem;
  margin-bottom: 2.5rem;
}
.sale .card .sale-user-before {
  color: #fff;
  font-size: 1.8rem;
  font-weight: 600px;
  margin-top: 1.8rem;
  margin-bottom: 2.5rem;
  text-decoration: line-through;
  opacity: 40%;
}
.sale .card .banner__sale-buynow {
  margin-top: 1.8rem;
  margin-bottom: 2.5rem;
}

.bestseller {
  margin-bottom: 6rem;
}
.bestseller__name {
  margin: 0rem auto;
  font-weight: bold;
}
.bestseller__name .line__name {
  border-bottom: 3px solid white;
  opacity: 15%;
  margin: 2rem auto;
}
.bestseller__list {
  display: flex;
  align-items: stretch;
  justify-content: space-between;
  flex-wrap: wrap;
  flex-direction: row;
}
.bestseller__item {
  width: calc(25% - 22.5px);
  padding: 2.5rem;
  background-color: #1a1a1a;
  border-radius: 15px;
  display: flex;
  align-items: stretch;
  justify-content: flex-start;
  flex-wrap: nowrap;
  flex-direction: column;
}
.bestseller__image {
  border-radius: inherit;
  object-fit: cover;
  margin-bottom: 2rem;
  width: 100%;
  height: 23rem;
}
.bestseller__name, .bestseller__details {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.bestseller__name {
  font-size: 2.5rem;
  margin-bottom: 2.5rem;
}
.bestseller__details {
  font-size: 1.4rem;
  color: #c6cad7;
  margin-top: auto;
}
.bestseller__details i {
  margin-left: 1.5rem;
}

.category {
  margin: 2rem auto;
}
.category .container {
  margin-bottom: 5rem;
}
.category__list {
  display: flex;
  align-items: stretch;
  justify-content: space-between;
  flex-wrap: wrap;
  flex-direction: row;
}
.category__item {
  width: calc(25% - 22.5px);
  padding: 2.5rem;
  background-color: #1a1a1a;
  border-radius: 15px;
  display: flex;
  align-items: stretch;
  justify-content: flex-start;
  flex-wrap: nowrap;
  flex-direction: column;
}
.category__image {
  border-radius: inherit;
  object-fit: cover;
  margin-bottom: 4rem;
  width: 100%;
  height: 23rem;
}
.category__name, .category__details {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.category__name {
  font-size: 2.5rem;
  margin-bottom: 2.5rem;
}
.category__details {
  font-size: 1.4rem;
  color: #c6cad7;
  margin-top: auto;
}
.category__details i {
  margin-left: 1.5rem;
}

.feature {
  margin: 0rem auto;
  background-color: #1a1a1a;
  border-radius: 2rem;
  overflow: hidden;
  padding-top: 2rem;
  margin-bottom: 5rem;
}
.feature__item {
  display: flex;
  align-items: center;
  margin-bottom: 2rem;
}
.feature__item:nth-child(odd) .feature__info {
  padding-left: 10rem;
}
.feature__item:nth-child(even) {
  flex-direction: row-reverse;
}
.feature__item:nth-child(even) .feature__info {
  padding-right: 10rem;
}
.feature__image {
  border-radius: 15px;
}
.feature__info {
  border-radius: 15px;
  width: 50%;
}
.feature__title {
  font-size: 4rem;
  font-weight: 600;
  margin-bottom: 2.5rem;
}
.feature__desc {
  font-weight: 300;
  font-size: 1.4rem;
  margin-bottom: 4rem;
  line-height: 1.8;
}
.feature-intro__item {
  font-weight: 600;
  margin-bottom: 2rem;
  text-decoration: underline;
  font-size: 1.8rem;
}
.feature-intro__item--circle {
  text-decoration: none;
  position: relative;
  padding-left: 3rem;
}
.feature-intro__item--circle:before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  width: 2rem;
  height: 2rem;
  border-radius: 4rem;
  background-color: #00aefd;
  transform: translateY(-50%);
}
.feature-intro__item--circle:nth-child(2):before {
  background-color: #ffa400;
}
.feature-intro__item--circle:nth-child(3):before {
  background-color: #ff7870;
}
.feature-intro__item--circle:last-child:before {
  background-color: #f00;
}
.feature-best__icon {
  width: 5rem;
  height: 5rem;
  border-radius: 4px;
  font-size: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 1rem;
  color: #ffa400;
  position: relative;
  z-index: 1;
}
.feature-best__icon--green {
  color: #07a787;
}
.feature-best__icon--purple {
  color: purple;
}
.feature-best__icon--red {
  color: #ff7870;
}
.feature-best__icon:after {
  content: "";
  width: 100%;
  height: 100%;
  border-radius: inherit;
  background-color: currentColor;
  opacity: 0.25;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}
.feature-best__title {
  font-size: 1.6rem;
  font-weight: 600;
  margin-bottom: 1rem;
}
.feature-best__desc {
  font-weight: 300;
}
.feature-best__list {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  flex-wrap: wrap;
}
.feature-best__item {
  width: calc(50% - 3rem);
  margin-bottom: 5rem;
}

.review .review__name1 {
  margin: 0rem auto;
  font-weight: bold;
  font-size: 2.5rem;
}
.review .review__name1 .line__name1 {
  border-bottom: 3px solid white;
  opacity: 15%;
  margin: 2rem auto;
}
.review .container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 1400px;
  flex-wrap: wrap;
  z-index: 1;
}
.review .container .card {
  position: relative;
  width: 28rem;
  height: 36rem;
  margin: 30px;
  box-shadow: 2rem 2rem 5rem #1a1a1a;
  border-radius: 15px;
  background-color: #2a2a2a;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: 1px solid rgba(255, 255, 255, 0.5);
  border-left: 1px solid rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(5px);
}
.review .container .card .review__content {
  padding: 20px;
  text-align: center;
  transition: 0.5s;
}
.review .container .card .review__content .review__number {
  position: absolute;
  top: -40px;
  right: 0px;
  font-size: 12em;
  color: rgba(255, 255, 255, 0.05);
  pointer-events: none;
}
.review .container .card .review__content .review__text {
  font-size: 1.4rem;
  color: #fff;
  z-index: 1;
  margin-bottom: 2rem;
}
.review .container .card .review__content .review__user {
  display: block;
  margin: 0 auto;
  height: 8rem;
  width: 8rem;
  border-radius: 50%;
  object-fit: cover;
}
.review .container .card .review__content .review_name {
  padding: 1rem 0;
  font-size: 2rem;
  color: #fff;
}
.review .container .card .review__content .review__star {
  padding: 1.5rem;
  color: #ffa400;
  font-size: 2rem;
}

.subscribe {
  margin-top: 5rem;
  margin-bottom: 2rem;
}
.subscribe__container {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  flex-wrap: nowrap;
  flex-direction: row;
}
.subscribe__title, .subscribe__info {
  width: 50%;
}
.subscribe__title {
  font-size: 2rem;
  font-weight: bold;
  max-width: 43rem;
}
.subscribe__form {
  background-color: #2a2a2a;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: nowrap;
  flex-direction: row;
  padding: 2rem;
  margin-bottom: 3.5rem;
}
.subscribe__input, .subscribe__button {
  padding: 0;
}
.subscribe__input {
  border: 0;
  outline: none;
  background-color: transparent;
  color: #fff;
  font-size: 1.6rem;
  font-family: "Poppins";
  flex-grow: 1;
  padding-right: 1.5rem;
  font-weight: bold;
}
.subscribe__button {
  background-color: transparent;
  color: #fff;
  border: 0;
  outline: none;
  cursor: pointer;
  font-size: 1.6rem;
  font-family: "Poppins";
  font-weight: bold;
}
.subscribe__social i {
  margin-left: 4rem;
  font-size: 2rem;
}
.subscribe .subscribe__social {
  display: flex;
}

.footer__container {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  flex-wrap: nowrap;
  flex-direction: row;
  padding-top: 3rem;
  background-color: #1a1a1a;
  border-radius: 15px;
}
.footer__item {
  width: 25%;
}
.footer__item .fa {
  color: #ffc87a;
  margin-right: 1rem;
}
.footer__link {
  color: #fff;
  font-size: 1.4rem;
  display: block;
  margin-bottom: 3rem;
  width: fit-content;
}

@media screen and (max-width: 1366px) {
  .banner .test__image {
    display: none;
  }
}
@media screen and (min-width: 1366px) {
  .banner .test1__image {
    display: none;
  }
}
@media screen and (max-width: 1023px) {
  .banner {
    padding-top: 5rem;
    object-fit: contain;
  }

  .sale {
    display: block;
  }
  .sale .sale1 {
    margin-bottom: 2rem;
  }

  .bestseller__item {
    width: calc(50% - 22.5px);
    margin-bottom: 2.5rem;
  }

  .category__item {
    width: calc(50% - 22.5px);
    margin-bottom: 2.5rem;
  }

  .feature {
    padding-top: 10rem;
  }
  .feature__item {
    flex-direction: column;
    margin-bottom: 8rem;
  }
  .feature__item:nth-child(even) {
    flex-direction: column;
  }
  .feature__item:nth-child(even) .feature__info {
    padding: 0;
  }
  .feature__item:nth-child(odd) .feature__info {
    padding: 0;
  }
  .feature__image, .feature__info {
    width: 100%;
  }
  .feature__image img {
    margin: 0 auto 5rem;
  }

  .partner__title {
    padding-bottom: 4rem;
    margin-bottom: 4rem;
  }
}
@media screen and (max-width: 767px) {
  .header__menu {
    display: none;
  }

  .banner .test__image {
    display: none;
  }

  .sale {
    display: none;
  }

  .bestseller__item {
    width: 100%;
    margin-bottom: 2.5rem;
  }
  .bestseller__image {
    height: 15rem;
  }

  .category__item {
    width: 100%;
    margin-bottom: 2.5rem;
  }
  .category__image {
    height: 15rem;
  }

  .partner {
    margin-bottom: 5rem;
  }
  .partner__list {
    flex-wrap: wrap;
    justify-content: center;
  }
  .partner__item {
    width: 50%;
    margin-bottom: 2rem;
  }
  .partner__item img {
    margin: 0 auto;
  }

  .connect {
    margin-bottom: 5rem;
  }
  .connect__list {
    flex-wrap: wrap;
  }
  .connect__item {
    width: calc(50% - 1rem);
    margin-bottom: 2rem;
  }

  .subscribe__container {
    flex-direction: column;
  }
  .subscribe__title {
    width: 100%;
    margin-bottom: 2rem;
  }
  .subscribe__info {
    width: 100%;
  }

  .footer__container {
    flex-wrap: wrap;
  }
  .footer__item {
    width: 100%;
    margin-bottom: 2rem;
  }
}
@media screen and (max-width: 479px) {
  .banner__heading {
    font-size: 3rem;
  }
  .banner__buttons > .btn {
    font-size: 1.2rem;
  }
}

/*# sourceMappingURL=style.css.map */
