
.category {
    .container{
      margin-bottom: 5rem;
    }
    margin: 2rem auto;
    &__list {
      @include flex(stretch, space-between, wrap);
  
    }
    &__item {
      width: calc(25% - 22.5px);
      padding: 2.5rem;
      background-color: #1a1a1a;
      border-radius: 15px;
      @include flex(stretch, flex-start, nowrap, column);
    }
    &__image {
      border-radius: inherit;
      object-fit: cover;
      margin-bottom: 4rem;
      @include size(100%, 23rem);
    }
    &__name,
    &__details {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
    &__name {
      font-size: 2.5rem;
      margin-bottom: 2.5rem;
    }
    &__details {
      font-size: 1.4rem;
      color: $text-gray;
      margin-top: auto;
      i {
        margin-left: 1.5rem;
      }
    }
  }
  