@media screen and (min-width: 768px){
  .banner{
    .test1__image{
      display: none;
    }
  }
}
@media screen and (max-width: 1366px){
  .header{
    .icons{
      margin-left: 5rem;
    }
    .header__menu{
      .header__menu-item{
        margin-left: 2rem;
      }
    }
  }
}

@media screen and (max-width: 1023px) {
    .banner {
      object-fit: contain;
    }

    .sale{
      display: block;
      .sale1{
        margin-bottom: 2rem;
      }
    }

    .bestseller{
      &__item {
        width: calc(50% - 22.5px);
        margin-bottom: 2.5rem;
      }
    }

    .category {
      &__item {
        width: calc(50% - 22.5px);
        margin-bottom: 2.5rem;
      }
    }
    .feature {
      padding-top: 10rem;
      &__item {
        flex-direction: column;
        margin-bottom: 8rem;
        &:nth-child(even) {
          flex-direction: column;
          .feature__info {
            padding: 0;
          }
        }
        &:nth-child(odd) .feature__info {
          padding: 0;
        }
      }
      &__image,
      &__info {
        width: 100%;
      }
      &__image img {
        margin: 0 auto 5rem;
      }
    }
    .partner {
      &__title {
        padding-bottom: 4rem;
        margin-bottom: 4rem;
      }
    }
  }
  @media screen and (max-width: 767px) {
    .banner{
      .test__image{
        display: none;
      }
    }
    .sale{
     display: none;
    }
    .bestseller{
      &__item {
        width: 100%;
        margin-bottom: 2.5rem;
      }
      &__image {
        height: 15rem;
      }
    }
    .category {
      &__item {
        width: 100%;
        margin-bottom: 2.5rem;
      }
      &__image {
        height: 15rem;
      }
    }
    .partner {
      margin-bottom: 5rem;
      &__list {
        flex-wrap: wrap;
        justify-content: center;
      }
      &__item {
        width: 50%;
        margin-bottom: 2rem;
        img {
          margin: 0 auto;
        }
      }
    }
    .connect {
      margin-bottom: 5rem;
      &__list {
        flex-wrap: wrap;
      }
      &__item {
        width: calc(50% - 1rem);
        margin-bottom: 2rem;
      }
    }
    .subscribe {
      &__container {
        flex-direction: column;
      }
      &__title {
        width: 100%;
        margin-bottom: 2rem;
      }
      &__info {
        width: 100%;
      }
    }
    .footer {
      &__container {
        flex-wrap: wrap;
      }
      &__item {
        width: 100%;
        margin-bottom: 2rem;
      }
    }
  }
  @media screen and (max-width: 479px) {
    .banner {
      &__heading {
        font-size: 3rem;
      }
      &__buttons > .btn {
        font-size: 1.2rem;
      }
    }
  }
  
  @media (max-width:991px) {
    html{
      font-size: 55%;
    }
     .header{
       padding: 2rem;
     }
  }

  @media (max-width:1024px) {
    #menu-btn {
      display: inline-block;
    }
    .header{
        width: 100%;
      .search-form{
        width: 100%;
        right: 0 ;
        border-radius: 0;
        &.active{
          top: 99%;
        }
      }
      .icons{
        margin-left: 40rem;
      }
      .header__menu{
        margin-left: 0rem;
        position: absolute;
        top: 99%; left: 0; right: 0;
        background: #1a1a1a ;
        border-top: #1a1a1a;
        border-bottom: #1a1a1a;
        clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
        &.active{
          clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
        }
        a{
          margin: 1.5rem;
          padding: 1.5rem;
          background: #1a1a1a;
          font-size: 2rem;
          display: block;
          border-radius: 0.5rem;
        }
      }
    }
   }

  @media screen and (max-width:640px) {
    html{
      font-size: 50%;
    }
    .header{
      .icons{
        margin-left: 5rem;
        div {
          margin-left: 1rem;
        }
      }
      .header__menu-list{
        flex-direction: column;
        align-items: flex-start;
      }
      .header__menu{
        a {
          margin: 1rem;
          padding: 1.5rem;
        }
      }
    }
  }